.play {
  left: 0;
  position: fixed;
  background: #464547;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
}
.play .play_top img {
  position: absolute;
  width: 96px;
  height: 137px;
  left: 38%;
  margin-left: 25px;
  z-index: 9;
}
.play .play_img_box {
  margin: 70px auto 0;
  width: 296px;
  height: 296px;
  background: url("../../assets/images/disc-ip6.png");
  background-size: 296px;
  overflow: hidden;
}
.play .play_img_all {
  position: relative;
}
.play .play_img_box .small_img {
  margin: 55px auto 0;
  width: 191px;
  border-radius: 50%;
  overflow: hidden;
}
.play .play_img_all .play_icon {
  position: absolute;
  display: none;
  left: 37%;
  top: 34%;
  margin-left: 25px;
  margin-top: 25px;
  height: 50px;
  width: 50px;
  background: url("../../assets/images/list_sprite.png") no-repeat;
  z-index: 99;
}
.play .play_img_box .small_img img {
  width: 191px;
  height: 191px;
}
.play .play_txt {
  padding: 0 15px 20px;
  margin-top: 25px;
}
.play .play_txt_name {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
.play .play_txt_name .singer {
  color: hsla(0, 0%, 100%, 0.6);
}
.play .play_txt_geci {
  position: relative;
  margin-top: 14px;
  height: 130px;
  overflow: auto;
}
.play .geci_box {
  height: 120px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.play .audio_box {
  padding-bottom: 50px;
  text-align: center;
}
.play ::-webkit-scrollbar {
  display: none;
}
.play .active {
  font-size: 0.38rem;
  color: green !important;
}
p {
  font-size: 0.32rem;
  color: #fff;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}
