.recommend h2 {
  position: relative;
  padding-left: 0.16rem;
  margin: 0.28rem 0;
  font-size: 0.34rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-left: 3px solid #D43c33;
}
.recommend .recinfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend .recinfo .reclist {
  width: 33%;
  margin-bottom: 0.32rem;
}
.recommend .recinfo .reclist img {
  width: 2.44rem;
  height: 2.44rem;
}
.recommend .recinfo .reclist p {
  padding: 0.12rem 2px 0 0.12rem;
  max-height: 0.6rem;
  line-height: 1.2;
  font-size: 0.26rem;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
