.search h4 {
  font-size: 0.3rem;
  line-height: 0.6rem;
  padding-left: 0.2rem;
  color: #666;
  border-top: 1px solid #ccc;
}
.search .input {
  width: 90%;
  height: 0.6rem;
  margin: 0.3rem auto;
  border-radius: 0.3rem;
  display: flex;
  justify-content: start;
  background-color: #ebecec;
}
.search .input input {
  width: 5.9rem;
  height: 0.6rem;
}
.search .input i {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}
.search ul span {
  display: inline-block;
  height: 0.64rem;
  margin-left: 0.16rem;
  margin-bottom: 0.16rem;
  padding: 0 0.28rem;
  font-size: 0.28rem;
  line-height: 0.64rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0.32rem;
}
.search ul li {
  width: 100%;
  height: 1.1rem;
  padding-left: 0.1rem;
  border-top: 1px solid #ebecec;
  font-size: 0.34rem;
  line-height: 1.1rem;
  color: #507daf;
}
